.instruction-container{
    position: fixed;
    top: 0; 
    left: 0;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    z-index: 999;
    border: 1px solid black;
    background-color: rgb(214, 207, 214);
    padding: 1rem 2rem 5rem 2rem;
    width: 70%;
    display: block;
}

h1,h2,p{
    text-align: center;
}
p{
    font-size: 20px;
}

#start{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 12px 30px;
}

#next-level{
    top: 30;
}